services:
  backend:
    build: 
      context: ./task-service
      dockerfile: Dockerfile
    ports:
      - "8000:8000"

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - WDS_SOCKET_PORT=0